<h2 mat-dialog-title>Update User Profile</h2>
<div class="dialog-internal-container">
    @if (this.data) {
        <mat-dialog-content>
            <mat-form-field>
                <mat-label>Company First Name</mat-label>
                <input matInput type="text" name="name" [value]="data.firstName" disabled="true" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Company Second Name</mat-label>
                <input matInput type="text" name="name" [value]="data.lastName" disabled="true" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" name="name" [value]="data.email" disabled="true" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Contact Phone</mat-label>
                <!-- bind directly to the reactive form control; remove standalone value binding -->
                <input matInput type="tel" name="phone" [formControl]="phoneFormControl" (blur)="updateErrorMessage()" required />
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button mat-dialog-close color="var(--mat-sys-tertiary-fixed)" (click)="closeDialog()">Update</button>
        </mat-dialog-actions>
}
    <mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="cancelDialog()">Cancel</button>
    </mat-dialog-actions>
</div>
