<h2 mat-dialog-title>Update User Profile</h2>
<div class="dialog-internal-container">
    @if (this.data) {
        <mat-dialog-content>
            <!-- <mat-form-field>
                <mat-label>Company First Name</mat-label>
                <input matInput type="text" name="name" [value]="data.name" disabled="true" />
            </mat-form-field> -->
            <h5>Client Name</h5>
            <p>{{ data.name }}</p>

            <!-- <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="text" name="name" [value]="data.contactEmail" disabled="true" />
            </mat-form-field> -->

            <h5>Client Email </h5>
            <p>{{ data.contactEmail }}</p>

            <mat-form-field>
                <mat-label>Contact Phone</mat-label>
                <!-- bind directly to the reactive form control; remove standalone value binding -->
                <input matInput type="tel" name="phone" [formControl]="phoneFormControl" (blur)="updateErrorMessage()" required />
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button 
                    color="var(--mat-sys-tertiary-fixed)" 
                    [disabled]="phoneFormControl.defaultValue === '' || this.isLoading()" 
                    (click)="closeDialog()">
                @if (this.isLoading()) {
                    Updating...
                } @else {
                    Update
                }
            </button>

            <button mat-button 
                    mat-dialog-close 
                    [disabled]="this.isLoading()"
                    (click)="cancelDialog()">
                Cancel
            </button>
        </mat-dialog-actions>
}
</div>
