.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.text-content {
    font-size: 10px;
    font-weight: 400;
    font-family: "Noto Serif Display Condensed Italic";
}

.footer-background {
    background-color: var(--mat-sys-primary);
}