.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.text-content {
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-family: "Delivery";
    color: var(--mat-sys-tertiary)
}

.footer-background {
    background-color: var(--mat-sys-secondary);
}