.toolbar-content-spacer {
    flex: 1 1 auto;
}

.toolbar-title {
    color: var(--mat-sys-on-tertiary);
    font-family: "Delivery";
    font-weight: bold;
}

.toolbar-background {
    background-color: var(--mat-sys-primary);
}

.toolbar-logo {
    height: 20px;
    width: auto;
    padding: 8px;
    margin: 3px;
}

.login-button {
    font-family: "Delivery";
}

.toolbar-container {
    width: auto;
    height: auto;
    /* margin: 0 auto; */
    padding: 0px 0px 0px 0px;
}
