.toolbar-content-spacer {
    flex: 1 1 auto;
}

.toolbar-title {
    color: var(--mat-sys-on-tertiary);
    font-family: "Noto Serif Display Condensed Bold";
}

.toolbar-background {
    background-color: var(--mat-sys-primary);
}

.toolbar-logo {
    height: 20px;
    width: auto;
    padding: 8px;
    margin: 3px;
}

.login-button {
    font-family: "Noto Serif Display Condensed Medium";
}